/*
.root{
    -fx-background-color: #8AA1FF;
}

.button{
    -fx-background-color: #C3CFFF;
    -fx-border-color: #A2B4FF;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}


#button-exit{
    -fx-background-color: #FF8AA1;
}
*/
#center-pane{
    -fx-background-color: #FFFFFF;
}
/*
#main-hbox{
    -fx-background-color: #C3CFFF;
}
*/